@model IBook.Models.Book
@using IBook.Extensions
@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}
<br />
<form method="post">
    <div class="p-5 border rounded">
        <div class="form-group row ">
            <div class="col-1"></div>
            <div class="col-4" style="width:340px; height:497px;">
                    <img class="img-responsive" style="width:340px; height:497px;" src="@Model.ImageUrl" />
            </div>
            <div class="col-1">
            </div>
            <div class="col-5">

                <div class="product-name">
                    <h1>@Model.Title</h1>
                </div>
                <span class="sku_wrapper">
                    <span class="item-title">Product code:</span>
                    <span>
                        <strong>
                            @Model.Title - @Model.BookID
                        </strong>
                    </span>
                </span>
                <span><br /></span>
                <span class="category-url-wrapper">
                    <span class="item-title">Author: @Model.Author.Name</span>
                </span>
                <br />
                <span class="category-url-wrapper">
                    <span class="item-title">Category: @Model.Category.Name</span>
                </span>
                <br />
                <span class="category-url-wrapper">
                    <span class="item-title">Publishing company: @Model.Publisher.Name</span>
                </span>
                <div class="short-description">
                    <div class="std">
                        <h5>

                            <strong></strong>

                        </h5><br>

                    </div>
                </div>

                <p class="availability in-stock">
                    <span class="item-title">
                        <i>Remaining: </i>
                    </span>
                    <span>
                        <strong>
                            @Model.Quantities
                        </strong>
                    </span>
                    In stock
                </p>
                <div class="price-box">

                    <h3>@Model.Price VNĐ</h3>


                </div>
                <div class="add-to-box">
                    <div class="add-to-cart nn-margin-bottom">

                    </div>
                    <br />
                    @{
                        bool isInBag = false;
                        List<int> lstCart = HttpContextAccessor.HttpContext.Session.Get<List<int>>("ssShoppingCart");
                        if (lstCart != null && lstCart.Contains(Model.BookID))
                        {
                            isInBag = true;
                        }
                    }
                    @if (Model.Quantities != 0)
                    {
                        @if (isInBag)
                        {
                            <button type="submit" value="Remove from bag" asp-action="Remove" asp-route-id="@Model.BookID" class="btn btn-danger form-control">Remove from cart</button>
                        }
                        else
                        {
                            <button type="submit" value="Add to bag" asp-route-id="@Model.BookID" class="btn btn-primary form-control">Add to cart</button>
                        }
                    }
                    else
                    {
                        <label class="btn btn-danger form-control">Out of stock</label>
                    }

                </div>


            </div>
            <div class="col-1">
            </div>
        </div>
        <br />
        <div>
            <ul class="nav nav-tabs" role="tablist">
                <li class="active">
                    <a href="#descriptions" role="tab" data-toggle="tab">
                        Summary
                    </a>
                </li>
                <li style="width:15px;"></li>
                <li>
                    <a href="#specifications" role="tab" data-toggle="tab">
                        Details
                    </a>
                </li>
                <li style="width:15px;"></li>
                <li>
                    <a href="#comments" role="tab" data-toggle="tab">
                        <i class="fa fa-envelope"></i> comment
                    </a>
                </li>

            </ul>

            <div class="tab-content" style="font-size:23px;">
                <div class="tab-pane fade active in" id="descriptions">
                    <h2>Summary</h2>
                    <div>
                        @Model.Summary
                    </div>
                </div>
                <div class="tab-pane fade row" id="specifications">
                    <h2>Product details</h2>
                    <div class="col-md-12">
                        <table class="table table-hover table-striped table-bordered">
                            <tr>
                                <td>
                                    Product code:
                                </td>
                                <td>
                                    @Model.Title - @Model.BookID
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Book title:
                                </td>
                                <td>
                                    @Model.Title
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Number of pages:
                                </td>
                                <td>
                                    @Model.NumberOfPages Cover page
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Author:
                                </td>
                                <td>
                                    @Model.Author.Name
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Category:
                                </td>
                                <td>
                                    @Model.Category.Name
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Publishing company:
                                </td>
                                <td>
                                    @Model.Publisher.Name
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Quantity remaining:
                                </td>
                                <td>
                                    @Model.Quantities Book
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Publication date:
                                </td>
                                <td>
                                    @Model.CreateDate.ToShortDateString()
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Reprint date:
                                </td>
                                <td>
                                    @Model.ModifiedDate.ToShortDateString()
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Price:
                                </td>
                                <td>
                                    @Model.Price VNĐ
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6"></div>


                </div>
                <div class="tab-pane fade" id="comments">
                    <h2>Feature is currently under development, please come back later! Sincerely apologize for this inconvenience!</h2>
                    @*<div class="fb-comments" data-href="/chi-tiet/@Model.Name.ToAscii().ToLower()_@Model.Id" data-width="100%" data-numposts="5" data-colorscheme="light"></div>*@
                </div>

            </div>

        </div>
        <div class="form-group">
            <input hidden asp-for="@Model.BookID" />
            <a asp-action="Index" class="btn btn-success">Return</a>
        </div>
    </div>
</form>